<form action="/cart" method="POST">
    <button class="btn">Add to Cart</button>
    <input type="hidden" name="CSRFToken" value="<%=csrfToken%>">
    <input type="hidden" name="productId" value="<%= product._id %>"> <!-- here we are passing productId through the form itself and not through url, because its a post request-->
</form>